body{
    background: #eee;
}
.wrapper{
    width: 100%;
    max-width: 100%;
    margin: auto;
}
nav{
    background: #222;
    display:flex;
}



.nav-list a{
    text-decoration: none;
    display: block;
    padding: 10px;
    color: #fff;
}
 
 nav a:hover{
    background: gainsboro;
    color: darkblue;
 }

 @media screen and (min-width: 540px){
    .nav-list{
        display: flex;
        justify-content: space-between;
    }

    .nav-list ul {
        display: flex;
    }
    .nav-list li{
        flex: 1 1 0;
        
        color:white;
        list-style-type: none;
        
        
    }

    .social{
        display:flex
        justify-content: flex-end;
    }
 }

.flex-container{
    display:flex;
}

.box{
    /*min-width: 200px;*/
    height:300px;
    flex: 1 1 0;
    /*flex-wrap: wrap;*/
}

.one{
    background: aqua;
}

.two{
    background: blanchedalmond;
}
.three{
    background: blueviolet;
}