/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-Jan-2022, 22:01:32
    Author     : Apache1
*/
body{
    background: #eee;
}
.wrapper{
    width: 95%;
    max-width: 100%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: aliceblue;
}

.ccheckbox{
    text-align:center;
}

div[id^="tfr_"] {
    color: black;
}
#tfr_area{
    display: none;
    padding-top: 20px;
}
#trxOptn4:checked ~ #tfr_area {
    display: none;
  }

div .authArea{
    padding-top: 10px;
    text-align: left;
}

#auth_code{
    display:none;
    
}
#tfr_Optn2:checked ~ #auth_code{
    display:none;
}

.domheader{
    height:20px;
    display:flex;
}
.domhead1{
    flex-grow:1
}

.domhead2{
    flex-grow:6
}

.domdet{
    display:flex;
    flex-wrap: wrap;
}

.details{
    font-size: 0.8rem;
    align-items:flex-start;
    height:98%;
    flex:2 1 0;
    margin: 5px;
    padding:5px;
    border-radius: 10px;
    background-color: #fff;
    /* display:flex; */
   
}
.details1{
    flex:3;
}
.details2{
    display:flex;
    flex:6;
    background-color: bisque;
    font-size: 0.8rem;
}
.details3{
    flex:9;
    
}
.displayItem{
    display:flex;
    border-color: aqua;
    border-style: solid;
    border-radius: 5px ;
    
    margin:2px;
    padding: 1px;
    max-width: 90%; 
    align-content:flex-start;
}
.lft{
    flex:6 1 0;
    align-items: flex-start;
    /* max-width: 200px;
    flex-wrap: wrap;
    float: left; */
    /* align-items:flex-start; */
}
.rgt{
    flex:1 1 0;
    align-content: flex-end;
    
    /* max-width: 200px;
    flex-wrap: wrap;
    float:right */
    /* align-items: flex-end; */
}

#calc_total {
    color:red;
    text-align: center;
}

.action_btns{
    display: flex;
    justify-content: center;
    align-items: center;
}

div .compactRadioGroup label {
    padding-left: 2em;
}





